<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>

    <ion-buttons end>
      <button ion-button [navPush]="uploadPage" > Upload
        <ion-icon large name ="cloud-upload" ></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list padding>
    <ion-item *ngFor="let m of mediaArray | async ">
      <ion-thumbnail item-start>
        <img *ngIf="m.media_type == 'image'" [src]="mediaProvider.mediaFilePath + (m.file_id | thumbnail: 'small' | async)" [alt]="m.title">
        <video *ngIf="m.media_type == 'video'" [src]="mediaProvider.mediaFilePath + (m.file_id | thumbnail: 'screenshot')"></video>
        <img *ngIf="m.media_type == 'audio'" src="../../assets/imgs/logo.png"/>
      </ion-thumbnail>
      <h2>{{m.title}}</h2>
      <h3>{{m.description}}</h3>
      <h4>User id: {{m.user_id}}</h4>
      <h5>File size: {{m.filesize}}</h5>
      <h5>Time added: {{m.time_added | date: ('dd.MM.yyyy')}}</h5>
      <button ion-button clear item-end (click)="showImage(m.file_id)">View</button>
    </ion-item>
  </ion-list>


</ion-content>


